<header class="header" compManifestHeader></header>
<div class="content">

  <section class="card-take-off card-take-off--flying">
    <header class="card-take-off--flying__header">
      <h4 class="card-take-off__id">1</h4>
      <p class="card-take-off__name">
        <b>Romeu</b>
        <span>Nalim</span>
      </p>
    </header>
    <svg>

    </svg>
  </section>
  <section class="card-take-off card-take-off--default">
    <header class="card-take-off--default__header">
      <h4 class="card-take-off__id">2</h4>
      <p class="card-take-off__name">
        <b>Romeu</b>
        <span>Nalim</span>
      </p>
      <b class="card-take-off__time">04:05</b>
    </header>
    <div class="box">
      <table compTableManifest></table>
    </div>
  </section>
  <section class="card-take-off card-take-off--create">
    <button (click)="addTakeOff($event)" [ngClass]="{ hidden: newTakeOff }" class="card-take-off--create__button outline line-lg rounded-lg blue">+</button>
    <form compNewTakeOff [ngClass]="{ active: newTakeOff }" (submit)="addTakeOff($event)"></form>
  </section>

</div>
