<app-manifest-header></app-manifest-header>
<main class="content">

  <section class="card card--flying">
    <header>
      <h4>1</h4>
      <p>
        <b>Romeu</b>
        <span>Nalim</span>
      </p>
    </header>
    <svg>

    </svg>
  </section>
  <section class="card card--take-off">
    <header>
      <h4>2</h4>
      <p>
        <b>Romeu</b>
        <span>Nalim</span>
      </p>
      <b>04:05</b>
    </header>
    <div class="box">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th class="text-start">Nome</th>
            <th>Equipo</th>
            <th>Tipo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="text-start">Marcos Jr</td>
            <td>190</td>
            <td>SOLO</td>
            <td class="text-end">
              <button>X</button>
              <button>-></button>
            </td>
          </tr>

          <tr>
            <td>1</td>
            <td class="text-start">Marcos Jr</td>
            <td>190</td>
            <td>SOLO</td>
            <td class="text-end">
              <button>X</button>
              <button>-></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="card card--take-off">

  </section>

  <button class="button-outline">
     +
  </button>

</main>
