<table>
  <thead>
    <tr>
      <th>#</th>
      <th class="text-start">Nome</th>
      <th>Equipo</th>
      <th>Tipo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td class="text-start">Marcos Jr</td>
      <td>190</td>
      <td>SOLO</td>
      <td class="text-end">
        <button>X</button>
        <button>-></button>
      </td>
    </tr>

    <tr>
      <td>1</td>
      <td class="text-start">Marcos Jr</td>
      <td>190</td>
      <td>SOLO</td>
      <td class="text-end">
        <button>X</button>
        <button>-></button>
      </td>
    </tr>
  </tbody>
</table>
